.home-wrapper{
    display: block;
    position: relative;
    width: 100%;
}

header{
    display: block;
    padding: 4rem 2rem;
}

.greeting{
    font-size: 30px;
    font-weight: bold;
    color: rgb(8, 244, 8);
}

.nav-btns{
    margin: 0;
}

.logout-btn{
    margin-top: 2rem;
    
}

.cookie-wrapper{
position: relative;
background-color: indigo;
height: 40vh;
width: 100%;
}

.cookie-main{
    padding: 2rem 1rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    font-size: 15px;
}

.cookie-main button{
    height: 3rem;
    width: 6rem;
    font-weight: bold;
}

.msg-top{
    display: block;
    margin: 0 auto;
    padding: 1rem 1rem;
    font-size: 15px;
    font-size: bold;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.home-main form button{
 height: 3rem;
 width: 6rem;
 border-radius: 60px;
 font-size: 15px;
 font-weight: bold;
 background-color: white;
}



.home-main h2{
    color: white;
    width: 10rem;
    background-image: linear-gradient(  red,   indigo );
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    padding: 1rem 0;
}

.home-main h3{
    color: white;
    width: 10rem;
    margin: 1rem auto;
    text-align: center;
    font-size: 15px;
}



/* left side */

.home-main-left{
    display: block;
    margin: 1rem auto;

    
}

.home-left-close-x{

    font-size: 40px;
    color: green;
    padding: 0 1rem;
    pointer-events:visible;

}

.home-main-left form{
    display: block;
    margin: 0 auto;
    
}




.home-main-left form input{
    display: block;
    height: 3rem;
    width: 13rem;
    text-align: center;
    border-radius: 60px;
    font-size: 20px;
    margin: 1rem 4rem;
}

.home-main-left form textarea{
    display: block;
    height: 8rem;
    width: 13rem;
    margin: 1rem 4rem;
}

/* home center */

.home-main-center{
    display: block;
    margin-top: 1rem;
    font-size: 20px;
}



/* right side */

.home-main-right{
    display: block;
    margin: 0 auto;
    
}

.home-message{
    display: block;
    margin: 0 auto;
    font-weight: bold;
    

}



.home-main-right form{
    display: block;
    margin: 0 auto;
}

.home-main-right form input{
    display: block;
    height: 3rem;
    width: 13rem;
    text-align: center;
    border-radius: 60px;
    font-size: 20px;
    margin: 1rem auto;

}

@media (max-width: 1250px){

    .home-wrapper{
        display: block;
        margin: 0 auto;
    }

    .home-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    header{
        font-size: 14px;
    }
   
    .cookie-wrapper{
        height: 100vh;
    }

  

}