.logoutresponse-wrapper{
    display: block;
}

.logoutresponse-main{
    display: block;
    padding: 0 1rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.logoutresponse-main button{
    background: linear-gradient(  red,  indigo );
    width: 7rem;
    height: 2rem;
    color: white;
    border-radius: 50px;
}