.nav-wrapper{
    display: block;
    width: 100%;
    position: relative;
    background-color: black;
    
}

.nav-main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    font-size: 20px;
    padding: 2rem 1rem;
}

.nav-main a{
    color: white;
    background-image: linear-gradient(  red,  indigo );
    width: 7rem;
    border-radius: 50px;
}

.logout-btn button{
    
    background: linear-gradient(  red,  indigo );
    width: 7rem;
    height: 2rem;
    color: white;
    border-radius: 50px;
    right: 0;
    
}

.ismobile-nav-menu{
    display: none;
}

.ismobile-btns-img-div{
    display: none;
}

@media (max-width: 893px){

   

    .nav-main{
        display: none;
    }

    .ismobile-nav-wrapper{
        font-display: block;
        margin: 0 auto;
        position: relative;
        background-color: black;
        

    }

    .ismobile-nav-main{

        font-display: block;
        margin: 0 auto;
        

    }

    .ismobile-nav-menu{
        position: fixed;
        display: block;
        left: 0;
        height: 4rem;
        width: 100%;
        
    }

    .ismobile-nav-menu button{
        display: block;
        background: white;
        border-radius: 40px;
        width: 6rem;
        height: 2rem;
        margin: 1rem 1rem;
        
    }

    .ismobile-menu-btns{
        display: flex;
        position: fixed;
        left: 0;
        margin-top: 4rem;
        background-color: indigo;
        width: 100%;
        z-index: 4;
        
    }

    .ismobile-menu-btns button{
        
        display: block;
        width: 6rem;
        height: 2rem;
        border-radius: 40px;
        margin: 1rem 1rem;
        background: linear-gradient(  red,  indigo );
        color: white;
        font-weight: bold;
    }

    .ismobile-btns-img-div{
        display: block;
        width: 100%;
        background-image: url('https://images.unsplash.com/photo-1631603090989-93f9ef6f9d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80" alt="coins');
        background-repeat: repeat-x;
        background-position: center;
        
    }

    .btns-image{
        height: 100%;
        width: auto;
    }

    
}
